<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
        <title>Burger</title>
        <script src="https://code.jquery.com/jquery.js"></script>
	    <script src="/assets/js/burgers.js"></script>
    </head>
    <body>
        {{!-- <img src="burger.png" alt="My_Logo">
        <h1>EAT-THE-BURGER</h1>
        <textarea>
        </textarea>
        <button>
            Submit
        </button>
        <p>Enter what you want to eat Click the "Submit" button</p> --}}
        {{{ body }}}
    </body>
</html>